@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&family=Oswald:wght@700&family=Courier+Prime&family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}


/* Hide scrollbar for Chrome/Safari/Opera to keep it sleek */
::-webkit-scrollbar {
  display: none;
}
